@media screen and (max-width: 414px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-content {
        display: block;
        position: fixed;
        top: 0%;
    } 

    .navs {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
        height: 10rem;
        background-color: black;
        transition: all, 1s;
        visibility: hidden;
    }

    .navs.overlay {
       visibility: visible;
    }

    .nav-logo {
      font-size: 17px;
    }

    .nav-log  {
        margin-left: 26px;
       padding-top: 20px;
    }

    #icon {
        display: inline;
   float: right;
   margin-top: -21.9em;
   margin-right: 26px;
   cursor: pointer;
    }
    
.Body-Content {
    background: url(/images/muscular-sportsman-building-biceps-with-dumbbell_7502-4784.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

h1 {
    font-size: 35px;
    line-height: 38px;
    width: 7em;
}

h1 + p {
    font-size: 17px;
    line-height: 26px;
    width: 17em;
}

.Train-You {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80rem;
    background-color: black;
    color: white;
}

.Train-Img {
    width: 280px;
    height: 500px;
    object-fit: cover;
    margin-top: -150px;
      padding-left: 0px;
}

.Train-You-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 80px;
    line-height: 25px;
}


.TrainText {
    margin-top: -50px;
    text-align: center;
    width: 17em;
}

.Package-head {
padding-top: 0px;
margin-top: -170px;
}

.Package-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85rem;
    text-align: center;
    gap: 47px;
    padding: 40px;
    line-height: 25px;
    background: yellow;
}

.Gallery {
    margin-top: -50px;
    height: 140em;
    background: black;
    gap: 20px;
} 

.Gallery-head {
    padding: 30px;
    margin-top: -60px;
}

.GalleryImage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25em;
    width: 100%;
    height: 100em;  
    background: black;
    gap: 10px;
}

.Gallery-Img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.Reach-text {
    width: 16.5em;
    text-align: center;
    padding: none;
}


.Reach-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: 80em;
    line-height: 25px;
}

.Contact {
    display: flex;
    align-items: center;
    background: yellow;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    height: 10em;
    margin-top: 0px;
    padding-top: 240px;
}

.Subscribe-Btn {
    width: 100px;
    height: 2rem;
}

.attribution {
    height: 3.5rem;
}

.attributionText {
    text-align: center;
    padding: 5px;
    font-size: 13px;
}


}

@media screen and (min-width: 375px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-content {
        display: block;
        position: fixed;
        top: 0%;
    } 

    .navs {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
        height: 10rem;
        background-color: black;
        transition: all, 1s;
        visibility: hidden;
    }

    .navs.overlay {
       visibility: visible;
    }

    .nav-logo {
      font-size: 17px;
    }

    .nav-log  {
        margin-left: 26px;
       padding-top: 20px;
    }

    #icon {
        display: inline;
   float: right;
   margin-top: -21.9em;
   margin-right: 26px;
   cursor: pointer;
    }
    
.Body-Content {
    background: url(/images/muscular-sportsman-building-biceps-with-dumbbell_7502-4784.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

h1 {
    font-size: 35px;
    line-height: 38px;
    width: 7em;
}

h1 + p {
    font-size: 17px;
    line-height: 26px;
    width: 17em;
}

.Train-You {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80rem;
    background-color: black;
    color: white;
}

.Train-Img {
    width: 280px;
    height: 500px;
    object-fit: cover;
    margin-top: -150px;
      padding-left: 0px;
}

.Train-You-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 80px;
    line-height: 25px;
}


.TrainText {
    margin-top: -50px;
    text-align: center;
    width: 17em;
}

.Package-head {
padding-top: 0px;
margin-top: -170px;
}

.Package-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85rem;
    text-align: center;
    gap: 47px;
    padding: 40px;
    line-height: 25px;
    background: yellow;
}

.Gallery {
    margin-top: -50px;
    height: 140em;
    background: black;
    gap: 20px;
} 

.Gallery-head {
    padding: 30px;
    margin-top: -250px;
}

.GalleryImage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25em;
    width: 100%;
    height: 100em;  
    background: black;
    gap: 10px;
}

.Gallery-Img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.Reach-text {
    width: 16.5em;
    text-align: center;
    padding: none;
}


.Reach-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: 80em;
    line-height: 25px;
}

.Contact {
    display: flex;
    align-items: center;
    background: yellow;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    height: 10em;
    margin-top: 0px;
    padding-top: 240px;
}

.Subscribe-Btn {
    width: 100px;
    height: 2rem;
}

.attribution {
    height: 3.5rem;
}

.attributionText {
    text-align: center;
    padding: 5px;
    font-size: 13px;
}


}